.details[hidden="until-found"] {
    display: inherit;
}

.configoption .basicinfo {
    display: grid;
    grid-template-columns: 25ch auto 2ch;
    cursor: pointer;
}

.configoption .shortdesc p {
    margin: 0;
}

.configoption .basicinfo .key {
    margin-right: 5px;
}

.configoption .details table.fields {
    font-size: smaller;
    border: 1px solid var(--color-orange);
    width: auto;
    margin-left: 10px;
}

.configoption .details table.fields tr td:first-child {
    background-color: var(--color-orange);
}

table.fields td {
    border-bottom: 0;
}

.ignoreP p {
    display: inline;
}

.configoption .basicinfo .anchor i svg {
    transform: rotate(90deg);
}

.configoption .basicinfo .anchor a {
    color: var(--color-content-foreground);
}

.configoption {
    border-bottom: 1px solid var(--color-table-border);
    padding: 10px 0px;
}

.configoption + p {
    margin-top: 20px;
}

.expand-collapse {
    text-align: right;
    margin-right: 5px;
    cursor: pointer;
}

#expand-options {
    text-align: right;
    color: var(--color-link);
    cursor: pointer;
}
